/* Outer items */

QWidget {
    background-color: transparent;
    color: #49a300;
    font-family: AmaticSC, sans-serif;
    font-size: 50px;
}

QMainWindow {
    background-color: #ffffff;
    color: #ffffff;
}

/* General controls */

QPushButton {
    background-color: white;
    border-style: outset;
    border-width: 1px;
    border-radius: 10px;
    border-color: #000070;
    padding: 10px;
	min-height: 80px;
}

QPushButton:pressed {
    background-color: #66eeeeee;
}

/* Idle Screen */

QFrame#IdleMessage {
    background-image: url(photobooth/gui/Qt5Gui/images/arrow-1024x600.png);
    background-repeat: no-repeat;
    padding: 300px;
}

QFrame#IdleMessage QLabel {
    font-size: 150px;
    qproperty-alignment: AlignCenter;
}

QFrame#IdleMessage QPushButton {
    border: none;
    color: rgba(255, 27, 0, 200);
    font-size: 100px;
	padding: 50px;
    text-align: center;
}

QFrame#IdleMessage QPushButton:pressed {
    background-color: rgba(0, 0, 0, 0);
    color: #eeeeee;
}

/* Greeter Screen */

QFrame#GreeterMessage {
	background-image: url(photobooth/gui/Qt5Gui/images/arrow-Back.png);
    padding: 0px;
}

QFrame#GreeterMessage QLabel#title {
    font-size: 150px;
    margin: 0;
    padding: 0;
    qproperty-alignment: AlignCenter;
}

QFrame#GreeterMessage QPushButton#button {
    background-color: #ffffff;
    border: none;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
    min-height: 100px;
    padding: 0;
    qproperty-alignment: AlignCenter;
}

QFrame#GreeterMessage QLabel#message {
    font-size: 100px;
    margin: 100;
    padding: 0;
    qproperty-alignment: AlignCenter;
}

/* Countdown Screen */

QFrame#CountdownMessage {
    background-image: url(photobooth/gui/Qt5Gui/images/arrow-Back.png);
    padding: 0px;
}

/* Pose Screen */

QFrame#PoseMessage {
    background-color: #ffffff;
    padding: 0px;
}

QFrame#PoseMessage QLabel {
    font-size: 120px;
    qproperty-alignment: AlignCenter;
}

/* Wait Screen */

QFrame#WaitMessage {
    padding: 350px 80px 80px 80px;
}

QFrame#WaitMessage QLabel {
    font-size: 110px;
    qproperty-alignment: AlignCenter;
}

/* Picture Screen */

QFrame#PictureMessage {
	background-color: #ffffff;
    margin: 0px;
}

/* Overlay message */

QWidget#TransparentOverlay {
    background-color: #ffffff;
    border-style: outset;
    border-width: 1px;
    border-radius: 0px;
    padding: 0px;
}

/* Postprocess message */

QWidget#PostprocessMessage QLabel {
	background-color: #ffffff;
    color: #49a300;
    font-size: 90px;
    qproperty-alignment: AlignCenter;
}

QWidget#PostprocessMessage QPushButton {
    color: #49a300;
    border-color: #49a300;
    background-color: transparent;
    margin: 20px;
}

QWidget#PostprocessMessage QPushButton:pressed {
    background-color: #66eeeeee;
}

QWidget#PostprocessMessage QPushButton:disabled {
    background-color: #33eeeeee;
    color: #11eeeeee;
    border-color: #11eeeeee;
}

/* Customizing settings */

QTabWidget::pane {
    background-image: white;
    color: #49a300;
    padding: 0px;
    margin: 0; 
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabBar::tab {
    background-color: #ffffff;
    border-style: outset;
    border-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #49a300;
    padding: 8px;
}

QTabBar::tab:selected {
    background-color: #ffffff;
}

QGroupBox {
    background-color: #ffffff;
    border-style: outset;
    border-width: 1px;
    border-radius: 15px;
    border-color: #eeeeee;
    margin: 0px;
    padding: 4px;
}

QTabWidget QWidget {
    color: #333333;
    font-size: 30px;
}

QCheckBox::indicator {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #333333;
}

QCheckBox::indicator::checked {
    background-image: url(photobooth/gui/Qt5Gui/images/checkmark.png);
    background-repeat: no-repeat;
}

QComboBox, QDateEdit, QLineEdit, QSpinBox, QTimeEdit {
    background-color: #eeeeee;
    color: #333333;
    font-size: 30px;
}

QComboBox QAbstractItemView {
    background-image: url(photobooth/gui/Qt5Gui/images/arrow-Back.png);
    color: #333333;
    selection-background-color: #eeeeee;
    selection-color: #333333;
}

QComboBox QAbstractItemView::item {
    margin: 5px;
    min-height: 50px;
}
