[Startup]
# Define here settings that should be applied on startup, e.g., make sure
# the file format is set to JPEG
# Settings should be specified in the form
# settingname = value

[StartupNoRaw]
# Define here the settings to apply when [Camera] capture_raw is switched
# off, i.e. the same file format keys as above but without RAW. Leave empty
# if the camera cannot write RAW anyway.

[Shutdown]
# Define here settings that should be applied on shutdown, e.g., change
# file format back to RAW

[Idle]
# Specify here the configuration key and value that has to be applied to
# set the camera to idle

[Active]
# Specify here the configuration key and value that has to be applied to
# make the camera active
